<h2>New Question</h2>
<form id='new-question' class="#" action ="/users/<%=session[:user_id]%>/questions" method='post' >

<input type ='text' name ='title' placeholder ="Title">
<br>
<textarea class ="question_text" type='text' name="body" placeholder="Enter your question ..."></textarea>
<br>
<input type="submit" >
</form>



