<h2>New Question</h2>
<form id='new-question' class="#"  method='post' >

<input class='title' type ='text' action = '/users/4/question'  name ='title' placeholder ="Title">
<br>
<textarea class ="question_text" type='text' name="content" placeholder="Enter your question ..."></textarea>

<input type="submit" >
</form>


<!-- action= "/user/<%#session{:user_id%>/question" -->
