<h1> Welcome to Curious Squirrels Overflow </h1>

<% @questions.each do |each_question| %>
  <%=each_question.title %>
  <%=each_question.votes.length %> votes
  <%=each_question.answers.length %> votes



  <br>
  <% end %>


