<div class="page-header">
<h1> Welcome to Curious Squirrels Overflow </h1>
</div>


<div id='questions-list'>
  <%@questions.each do |each_question| %>
  <%= erb :"questions/_each_question_partial", layout: false, locals: {
    question: each_question}%>
  <% end %>



</div>
