<div class="page-header">
  <h1> Welcome to Curious Squirrels Overflow </h1>
</div>

<h3> <a href="users/:id">Visit Your Profile</a></h3>

<div id='questions-list'>
  <%@questions.each do |each_question| %>
  <%= erb :"questions/_each_question_partial", layout: false, locals: {
    question: each_question}%>
  <% end %>



</div>
