<h3>You must be logged in to make a post or vote</h3>



<% if @error %>
<p><%=@error%></p>
<%end%>
<div class="panel-default col-sm-6">
<h2>Please Login</h2>
  <div class="panel-body">
    <form action='/login' method='post'>
      <fieldset class="form-group">
        <input class="form-control" type='email' name='email' placeholder=" E-mail">
      </fieldset>
      <fieldset class="form-group">
        <input class="form-control" type='password' name='password' placeholder=" Password">
      </fieldset>
      <input class="btn btn-primary" type='submit' value="Log me in">
    </form>
  </div>
</div>

<div class="panel-default col-sm-6">
<h2>Or Register</h2>
  <div class="panel-body">

    <form action='/users' method='post'>
      <fieldset class="form-group">
        <input class="form-control" type='text' name="user[first_name]" placeholder=" First name">
      </fieldset>
      <fieldset class="form-group">
        <input class="form-control" type='text' name="user[last_name]" placeholder=" Last name">
      </fieldset>
      <fieldset class="form-group">
        <input class="form-control" type='text' name="user[email]" placeholder=" Email">
      </fieldset>
      <fieldset class="form-group">
        <input class="form-control" type='text' name="user[username]" placeholder=" Username">
      </fieldset>
      <fieldset class="form-group">
        <input class="form-control" type='password' name="user[password]" placeholder=" Password">
      </fieldset>
      <button class="btn btn-primary" type='submit'>Register Me</button>
    </form>
  </div>
</div>

